body {
  padding: 10px;
  font-family: sans-serif;
}


.feedback-card{
  box-shadow: 0 6px 100px 0 rgba(0,0,0,.35) !important;

}

.feedback-label{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}