body {
  padding: 10px;
  font-family: sans-serif;
}


.feedback-card{
  box-shadow: 0 6px 100px 0 rgba(0,0,0,.35) !important;
  border: none;
  width: 320px;
  height: 150px;
}


.feedback-label{
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}