body {
  padding: 10px;
  font-family: sans-serif;
}



.feedback-card{
  box-shadow: 0 6px 100px 0 rgba(0,0,0,.35) !important;
  border: none;
  width: 320px;
  height: 190px;
}

.feedback-label-big{
  margin: 13px 0 15px ;
  text-align: center;
  font-size: 24px;
  font-weight: 600;


}

.feedback-label{
  margin: 17px 0 15px ;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}


.feedback-label-2{
  margin: 17px 0 15px ;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  /* width: 320px; */
  display: flex;
  justify-content: center;
}
.close-btn{
  border-radius: 500px !important;
  width: 27px;
  height: 27px;
  text-align: center !important;
}

.boxclose{
  /* float:right;
  margin-top:-30px;
  margin-right:-30px; */
  cursor:pointer;
  /* font-weight: ; */
  font-size: 13px;
  border-radius: 500px !important;
  width: 33px;
  height: 33px;
  text-align: center !important;

  position: absolute;

  left: 230px;

  right: -179px;

  top: -14px;

}

.boxclose:before {
  content: "x";
}

.yes-no-wrapper{
  width: 320px;
  display: flex;
  justify-content: center;

}

.yes-btn{
margin-right:5px;
}

.no-btn{

  margin-left:5px;

}

.form-builder-wrapper{
  display: flex;
}
.yes-no-buttons{
  display: flex;
  justify-content: space-evenly;
}
.marginRight{
  margin-right: 10px;
}

/* Accordion Form Builder */
.form-builder-wrapper{
  display: flex;
  justify-content: space-around;
}
.form-builder{
  width: 50%;
}
.form-preview{
  width: 50%;
  

}